body {
	background: url("../img/body-bg.png") repeat scroll 0 0 #E9E9E9;
    font: 13px/1.7em 'Open Sans';
}
form .required {
	font-weight: bold;
}
form .required label:AFTER {
	color: #e32;
	content: '*';
	display:inline;
}
label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.modal1 {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .3 )
                url('../img/ajax-loader.gif')
                50% 50%                
                no-repeat;
                
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal1 {
    display: block;
}

#breadcrumb {
    float: left;
}

#breadcrumb li {
    list-style-type:none;
    padding-left:10px;
	display:inline-block;
	float:left;
}

#breadcrumb a:after {
    content: ' / ';
}

.home {
    border:none;
    margin: 7px 0px;
}
